:root {
  --Red-400: hsl(7, 99%, 70%);
  --Yellow-500: hsl(51, 100%, 49%);
  --Green-800: hsl(167, 40%, 24%);
  --Blue-800: hsl(198, 62%, 26%);
  --Green-500: hsl(167, 34%, 41%);

  --Grey-950: hsl(212, 27%, 19%);
  --Grey-600: hsl(213, 9%, 39%);
  --Grey-550: hsl(232, 10%, 55%);
  --Grey-400: hsl(210, 4%, 67%);
  --White: hsl(0, 100%, 100%);

  --font-primary: "Barlow", sans-serif;
  --font-secondary: "Fraunces", serif;
}
$breakpoints: (
  xl: 950px,
  mxl: 860px,
  md: 768px,
  sm: 576px,
  xs: 400px,
);
@mixin respond($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}
